@media (max-width: 768px) {

    .header{
        height: 120px;
    }
   
    .header .logo{
        width: 65%;
          }

          .header .nav-sidebar-modal{

            width: 35%;
            height: 120px;
          }
          
    .header .logo img{
        height: 90px;
        width: 90px;
        margin-left: 5%;
      }
    
      .header .nav-sidebar-modal{
    
        height: 60px;
        font-size: .7em;
      }

      .main-nav .menu .links{

        font-size: 1.2em;
      }
    
      .text{
        display: none;
      }

      .landing-text{

       
        top: 40%;
        left: 1%;
        width: 100%;
      }

      .landing-text h1{


        font-size: 3em;
        
        }

        .landing-text p{


            font-size: 2em;
            
            }

            .main-nav .menu{

                width: 50%;
            }

            .close-modal{

                right: 17%;
            }

            .top-events{

               
                width: 90%;
                
               
                
            }

            .top-events .post{

                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: 8%;
                
                
            }

            .top-events .post .image img{

                height: 200px;

              }

            .sign-in{

                width: 90%;
                left: 5%;
            }

          .icon img{

            height: 20px;
          } 

          #top-eventsh1{
            position: absolute;
            top: 10%;
            
          }
    
          .regcont .event-modals{

            width: 90%;
          }

          .regcont .event-modals .reg-modal {

            height: 140px;
            width: 45%;
            font-size: .6em;

          }
    
          .form-wrapper{

            width: 95%;

          }

          .add-object{

            
            flex-direction: column;
            justify-content: space-evenly;

          }

          .add-object form{

            width: 100%;
          }

          #list-div{
            width: 95%;
            overflow: scroll;
          }

          .about-container{

            height: auto;
          }

          .about-wrapper{

            flex-direction: column;
            margin-top: 30%;
          }

          .about-text{

            font-size: 1em;
            
          }

          .about-text h1{

            font-size: .9em;

          }

          .about-img{

            
            margin-bottom: 5%;

          }

          .about-img img {

            height: 200px;
            margin-bottom: 5%;

          }

          .about-img h1 {

            font-size: 1em;

          }

        
      }

      @media (max-width: 768px) {
        .footer {
          text-align: center;
        }
      }
      